<div class="main-container col-lg-10 col-lg-offset-1">
  <div class="row">
    <h1 class="col-xs-12 h1">Faculty Comment Form</h1>
  </div>
  <div class="row" id="commentInfo">
    <div class="col-xs-12 col-sm-6 col-lg-7" id="commentText">
      <h2 class="h2-gold"> Instructions: </h2>
      <p>Good afternoon Jefferson-Houston Staff! </p>
      <p>
        Please leave a comment for the Faculty Advisory Council below. Select a category, type your comment,
        and press submit. The FAC will do its best to hear all of your ideas,
        suggestions, and improvements.
      </p>
      <p>
        Thank you for your input!
      </p>
    </div>
    <img class="col-xs-12 col-sm-6 col-lg-5" id="commentLogo" src="/jefferson-houston-logo.png"/>
  </div>
  <%= form_for @issue, url: issues_path, method: "POST", html: {class: "row", id: "commentForm"} do |f| %>
    <div class="row" >
      <%= f.select :category_id, options_for_select(Category.all.map{ |c| [c.name, c.id, {'data_description'=>c.description}] }), {}, {:class => 'col-xs-12 col-sm-4', :id => "commentCategory", :placeholder => "Select a Category"} %>
      <div class="description ">
        Help with two or more students to improve their relationship?
      </div>
    </div>
    <div class="row" >
      <%= f.text_area :note, {:class =>"col-xs-12 commentArea", :placeholder => "Please Comment Here..."} %>
    </div>
    <div class="row">
      <div class="checkbox">
        <label class="big-checkbox">
          <%= f.check_box :contact %> Would you like to talk about this in person?
        </label>
      </div>
      <%= f.submit "SUBMIT", class: "submitButton" %>
    </div>
  <% end %>
</div>
<script>
  $("select").on("change", function(e){
    console.log($("select option:slected").attr("data_description"));
  });
</script>
