<div class="main-container col-lg-10 col-lg-offset-1">
  <div class="row">
    <h1 class="col-xs-12 h1">Faculty Comment Form</h1>
  </div>
  <div class="row" id="commentInfo">
    <div class="col-xs-12 col-sm-6 col-lg-7" id="commentText">
      <p><span class="form-title">Hello Jefferson-Houston Staff!</span></p>
      <p>
        Please fill out the form below to leave a comment for the Faculty Advisory Council.
        Feel free to voice your concerns and suggestions for Jefferson-Houston K-8 School students,
        staff and general improvement. All submissions are anonymous and carefully reviewed by the FAC.
        The FAC will do its best to address all of your ideas, recommendations, and innovations.
      </p>
      <span class="form-title">Form Instructions:</span>
      <p>
        <ol>
          <li>Select a category.</li>
          <li>Type your comment into the box below.</li>
          <li>If applicable, check the "Would you like to talk about this in person?" box. </li>
          <li>Press the sumbit button. </li>
        </ol>
      </p>
      <p id="thx-input">
        <span class="form-title">Thank you for your input!</span>
      </p>
    </div>
    <img class="col-xs-12 col-sm-6 col-lg-5" id="commentLogo" src="/jefferson-houston-logo.png"/>
  </div>
  <%= form_for @issue, url: issues_path, method: "POST", html: {class: "row", id: "commentForm"} do |f| %>
    <div class="row" >
      <%= f.select :category_id, options_for_select(Category.all.order("created_at asc").map{ |c| [c.name, c.id, {'data_description'=>c.description}] }), {}, {:class => 'col-xs-12 col-sm-4', :id => "commentCategory", :placeholder => "Select a Category"} %>
      <div class="description ">
        <%= Category.first.description %>
      </div>
    </div>
    <div class="row" >
      <%= f.text_area :note, {:class =>"col-xs-12 commentArea", :placeholder => "Please Comment Here..."} %>
    </div>
    <div class="row">
      <div class="checkbox">
        <label class="big-checkbox">
          <%= f.check_box :contact %> Would you like to talk about this in person?
        </label>
      </div>
      <%= f.submit "SUBMIT", class: "submitButton" %>
    </div>
  <% end %>
</div>
<script>
  $("select").on("change", function(e){
    let description = $("select option:selected").attr("data_description");
    $(".description").html(description);
  });
</script>
