<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="h1 title">Current Users</h1>
</div>

<table>
  <thead class="tableHeader">
    <tr>
      <th class="columnHeader">Name</th>
      <th class="columnHeader">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="tableRow">
        <td class="bodyCell categoryName"><%= user.name %></td>
        <td class="bodyCell2">
          <%= link_to 'Show', user, :class => "tableAction" %><br />
          <%= link_to 'Edit', edit_user_path(user), :class => "tableAction" %><br />
          <%= link_to 'Destroy', user, method: :delete,
          data: { confirm: 'Are you sure?' }, :class => "tableAction destroy" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="newUser">
  <%= link_to 'Add New User', new_user_path %>
</div>
