<!DOCTYPE html>
<html>
  <head>
    <title>TeacherComplaints</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            JTAC
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navLinks"  href="/">Form</a></li>
          <li><a class="navLinks" href="/issues">Admin</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <p>Brought to you by<br/>
      Jefferson Teacher Action Committee</p>
    </footer>
  </body>
</html>
