<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="h1 title">Issues</h1>
</div>

<div class="row">
  <select>
    <% @categories.each do |cat| %>
    <option value=<%= cat.id %> > <%= cat.name %></option>
    <% end %>
  </select>
</div>

<table>
  <thead class="tableHeader">
    <tr>
      <th class="columnHeader">Category</th>
      <th class="columnHeader">Note</th>
      <th class="columnHeader">Wants to talk in person</th>
      <th class="columnHeader">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr class="tableRow">
        <td class="bodyCell categoryName"><%= issue.category.name %></td>
        <td class="bodyCell"><%= issue.note %></td>
        <td class="bodyCell"><%= issue.contact %></td>
        <td class="bodyCell">
          <%= link_to 'Show', issue, :class => "tableAction" %>
          <%= link_to 'Destroy', issue, method: :delete,
          data: { confirm: 'Are you sure?'}, :class => "tableAction destroy" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $("select").on("change", function(){
    let categoryId = $("select option:selected").val();
    let queryString = "?category_id=" + categoryId;
    let url =[location.protocol, '//', location.host, location.pathname, queryString].join('');
    window.location.replace(url);
  });
</script>
