<p id="notice"><%= notice %></p>

<div class="showBody">
  <span>Category:</span>
  <%= @issue.category %>
  <span>Wants to talk in person</span>
  <%= @issue.contact %>

  <h2 class="h2-gold">Note:</h2>
  <p>
    <%= @issue.note %>
  </p>

  <div class="back"><%= link_to 'Back', issues_path %></div>
</div>
